footer.footer {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  .frame {
    padding: 80px 0;

    small {
      display: block;
      max-width: 800px;
      margin: 12px;
      font-size: .9rem;
    }
  }
}