.setting-connect {
  max-width: 600px;
  margin: 0 auto;

  .switch {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;

    div {
      width: 50%;
      padding: 8px 0;
      border-bottom: 2px solid transparent;
      text-align: center;
      cursor: pointer;

      &:hover {
        background: rgba(243,115,53,.2);
      }

      &.active {
        background: rgba(243,115,53,.1);
        border-bottom: 2px solid rgba(243,115,53,.8);
      }
    }
  }

  .connect-pass {
    margin: 8px;
    padding: 8px;
    border: .55px solid #ccc;
    border-radius: .25rem;
    color: #333;

    .pass {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: 1.4rem;
        font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;  
      }

      div {
        padding: 8px;
        border-radius: .25rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background: #eee;
        }

        i {
          width: 16px;
          height: 16px;
          font-size: 1rem;
        }  
      }
    }

    .expire {
      display: flex;
      align-items: center;
      font-size: .9rem;
      
      label {
        color: #666;
      }

      & > div {
        flex: 2;
        text-align: right;
      }
    }
  }
}