.list {

  .loading {
    position: absolute;
    display: inline-block;
    font-size: .8rem;
  }

  .summary {
    max-width: 600px;
    margin: 0 auto;
    
    & > div {
      margin: 0 8px;

      display: flex;
      align-items: center;

      label {
        font-size: .9rem;
        color: #666;
      }

      & > div {
        flex: 2;
        text-align: right;
        font-size: 1.4rem;

        span {
          padding-left: .2em;
          font-size: .8em;
        }
      }
    }
  }

  .no-data {
    margin: 16px 0;
    text-align: center;
    font-size: .9rem;
    color: #666;
  }

  ol.list {
    max-width: 600px;
    margin: 0 auto;

    details {

      summary {
        display: block;

        // div で囲むのは iOS Safari 対策
        & > div {
          padding: 6px 8px;
          min-height: 40px;
          display: flex;
          align-items: center;

          .date {
            display: inline-block;
            padding: 2px 6px;
            border-radius: 6px;
            background: #eee;
            font-size: .9rem;
          }

          & > div {
            flex: 2;
            text-align: right;

            span {
              padding-left: .2em;
              font-size: .8em;
            }
          }
        }

        &:hover {
          background: #eee;
        }
      }

      summary::-webkit-details-marker {
        display: none;
      }

      ol {

        li {
          padding: 8px;

          display: flex;
          align-items: center;
          cursor: pointer;

          &:hover {
            background: #eee;
          }

          .date {
            padding: 2px 6px;
            border-radius: 6px;
            background: #eee;
            font-size: .8rem;
            color: #666;
          }

          .payment {
            flex: 2;
            text-align: right;
            font-size: 1.6rem;

            span {
              padding-left: .2em;
              font-size: .8em;
            }
          }
        }
      }
    }
  }
}