.list {

  .no-data {
    margin: 16px 0;
    text-align: center;
    font-size: .9rem;
    color: #666;
  }

  ul {
    max-width: 600px;
    margin: 0 auto;

    li {
      padding: 8px;

      display: flex;
      align-items: baseline;
      cursor: pointer;

      &:hover {
        background: #eee;
      }

      .date {
        font-size: .8rem;
        color: #666;
      }

      .payment {
        flex: 2;
        text-align: right;
        font-size: 1.6rem;

        span {
          padding-left: 6px;
          font-size: 1.1rem;
        }
      }
    }
  }
}