.not-found {
  margin: 176px 12px 96px;
  color: #333;

  a {
    display: block;
    margin-top: 8px;
    text-decoration: none;
    color: #f8ab86;

    &:hover {
      text-decoration: underline;
      color: #f8ab86;
    }
  }
}