.guide {

  .title {
    width: 100%;
    padding: 96px 0;
    background: #f8ab86;

    & > div {
      max-width: 600px;
      margin: 0 auto;
          
      h1 {
        margin: 0 12px;
        font-size: 1.6rem;
        font-weight: normal;
      }
    }
  }

  section {
    max-width: 600px;
    margin: 0 auto;
    color: #333;

    a {
      display: inline-block;
      margin: 48px 12px 0;
      color: #333;
      text-decoration: none;
      font-size: .9rem;
      
      &:hover {
        text-decoration: underline;
        color: #666;
      }
    }
  
    ol.main-guide {
      margin: 48px 12px;

      li {
        padding: 2px 6px;
        border-radius: .25rem;
        background: #eee;
        font-size: 1rem;
        color: #333;  
      }
    }
  
    h2 {
      margin: 48px 12px 16px;
      font-size: 1.2rem;
    }

    p {
      margin: 0 12px;
      font-size: .9rem;
    }
  
    ol {
      margin: 0 12px;
      list-style: decimal inside;
  
      li {
        margin: 16px 0;
        font-size: .9rem;
        color: #666;
  
        h2 {
          margin: 0 0 8px;
        }
  
        p {
          font-size: .9rem;
          color: #666;
        }
      }
    }

    ul {
      margin: 12px;

      li {
        margin: 0;
        font-size: .9rem;
        color: #333;
      }
    }

    .screenshot {
      position: relative;
      margin: 8px 8px 16px;
      padding: 8px;
      border: .55px solid #ccc;
      max-width: 320px;

      .target {
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 60px;
        top: 0px;
        right: 0px;
        background: rgba(0,0,0,.1);
      }
    }
  }
}