.privacy {
  max-width: 600px;
  margin: 0 auto;
  color: #333;

  h1 {
    margin: 48px 12px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  h2 {
    margin: 32px 12px 8px;
    padding: 16px 0 8px 0;
    border-top: 2px solid #eee;
    font-size: .9rem;
    font-weight: bold;
  }

  p {
    margin: 0 12px;
    font-size: .9rem;
  }

  ol {
    margin: 0 12px;
    list-style: decimal inside;

    li {
      font-size: .9rem;
    }

    ol {
      margin: 0 0 0 12px;
      padding: 0 0 0 12px;
      list-style: lower-roman;
    }
  }

  ul {
    margin: 0 12px;
    list-style: disc inside;

    li {
      font-size: .9rem;
    }
  }

  a {
    color: #666;

    &:hover {
      color: #333;
    }
  }

  a.link-block {
    display: block;
  }

  span.code {
    margin: 0 6px;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  }

  .update {
    margin: 32px 12px 8px;
    padding: 16px 0 8px 0;
    border-top: 2px solid #eee;
    font-size: .9rem;

    ol {
      margin: 0;
      list-style: none;
    }
  }
}