.auth {
  .contents {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: 44.547px 0 49.547px;
    z-index: 1;

    .contents-inner {
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      transform: translateZ(0);
    }
  }
}